.button {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;

&--order {
    color: getColor('secondary-text');
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background:  #2196f3;
    border: 0px solid;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 41px 10px 41px;
}
}