.navigation {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 25px;

    &__menu {
      display: flex;
    }
    &__item {
      margin-right: 46px;
      position: relative;
    }
    &__contact {
      display: flex;
      color: var(--main-description-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
    &__link {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: var(--main-description-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
    &__list {
      margin-right: 30px;
    }
    &__link:is(:hover, :focus) {
      color: var(--accent-color);
      --color4: var(--accent-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  